@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  margin: 0 auto;
  font-family: 'Montserrat';
  width: 75vw;
}

p {
  text-align: center;
}

.App-title {
  text-align: center;
  font-size: 3em;
  color: rgb(77, 50, 74);
}

.count {
  border: 1px solid black;
  padding: 1em;
  margin: 10px;
}

.lobster {
	font-family: 'Lobster';
}

p {
  color: rgb(77, 74, 74);
}

.refreshBtn {
  background-color:  #1e98ba;;
  color: white;
  border: 2px solid #1e98ba;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1em;
  width: 75px;
  text-align: center;
  margin-left: 10px
}

.refreshBtn:hover {
  background-color: #da8c05;
  border: 2px solid #da8c05;
  color: white;
}